<div class="nested-fields">
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :unit %>
    <%= f.text_field :unit %>
  </div>

  <div>
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <%= link_to_remove_association "- remove ingredient", f %>
</div>