

<div class="form">
<h4>Edit Your Recipe</h4>
<%= form_for @recipe do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :time %>
    <%= f.text_field :time %>
    <%= f.select(:time_units, options_for_select([['minutes', 'minutes'], ['hours', 'hours']])) %>
  </div>

  <div>
    <%= f.label :image, "Image URL" %>
    <%= f.text_field :image %>
  </div>



  <div id="ingredients">
  <h4>Ingredients</h4>
    <%= f.fields_for :ingredients do |ingredients_form| %>
      <%= render 'ingredient_fields', f: ingredients_form %>
    <% end %>

    <div class="add-ingredient">
      <%= link_to_add_association 'add ingredient', f, :ingredients %>
    </div>
  </div>



  <div id="steps">
  <h4>Steps</h4>
    <%= f.fields_for :steps do |steps_form| %>
      <%= render 'step_fields', f: steps_form %>
    <% end %>

    <div class="add-step">
      <%= link_to_add_association 'add step', f, :steps %>
    </div>
  </div>

      <%= f.submit %>
<% end %>
</div>
