

<div class="form">
<h4>Add a Recipe</h4>
<p> Put in your recipe description, steps, and ingredients, and souschef will read it out to you! </p>

<%= form_for @recipe do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class-"field">
    <%= f.label :description %>
    <p> What is this? </p>
    <%= f.text_area :description %>
  </div>

  <div class="field" id="time">
    <%= f.label :time %>
    <p> About how long will this take? </p>
    <%= f.text_field :time %>
    <%= f.select(:time_units, options_for_select([['minutes', 1], ['hours', 2]])) %>
  </div>

  <div class="field">
    <%= f.label :image, "Image URL" %>
    <p> What does it look like? </p>
    <%= f.text_field :image %>
  </div>

  

  <div id="ingredients">
  <h4>Ingredients</h4>
    <%= f.fields_for :ingredients do |ingredients_form| %>
      <%= render 'ingredient_fields', f: ingredients_form %>
    <% end %>

    <div class="add-ingredient">
      <%= link_to_add_association '+ add ingredient', f, :ingredients %>
    </div>
  </div>

  

  <div id="steps">
  <h4>Steps</h4>
    <%= f.fields_for :steps do |steps_form| %>
      <%= render 'step_fields', f: steps_form %>
    <% end %>

    <div class="add-step">
      <%= link_to_add_association '+ add step', f, :steps %>
    </div>
  </div>

      <%= f.submit %>
<% end %>
</div>


