<script type="text/javascript" src="https://rawgithub.com/hiddentao/google-tts/master/google-tts.min.js"></script>

<div class="recipe-image-container">
  <%= image_tag(@recipe.image) %>
      
      <div class="image-container-text">
        <h2><%= @recipe.name %></h2>
        <p>Cooking time: <%= @recipe.time %> hours</p>
      </div>
</div>

<div class="recipe">
     <!-- <button class="read"> Read it! </button> -->
    <button class="prev-step"> &lt;&lt; Read prev step </button>
    <button class="next-step"> Read next step &gt;&gt; </button>

    <div id="speaker"></div>


    <div class="ingredients">
      
      <h4>Ingredients: </h4>         
        <% @recipe.ingredients.each do |ingredient| %>
          <%= pluralize(ingredient.number, ingredient.unit) %>
          <%= ingredient.name %></br>
        <% end %>
    </div>


    <div class="steps">

        <% @recipe.steps.each do |step| %>
        <p class="step-content" id="step<%= step.number %>">
         <%= step.content %>
        </p>
      <% end %>
    </div>

    <%= link_to "Edit Recipe", edit_recipe_path %>
</div>
