<h1><%= @recipe.name %></h1>
<script type="text/javascript" src="https://rawgithub.com/hiddentao/google-tts/master/google-tts.min.js"></script>
<%= image_tag(@recipe.image, :size => "260x180", :crop => :fill) %>
<!-- <img class="recipe-image" src="<%= @recipe.image %>" />
-->

<p>Cooking time:</p>
<p><%= @recipe.time %> hours</p>

<button class="prev-step"> &lt;&lt; Read prev step </button>
<button class="next-step"> Read next step &gt;&gt; </button>

</br>
<div id="speaker"></div>


<p>Ingredients: </p>

  <% @recipe.ingredients.each do |ingredient| %>
    <%= pluralize(ingredient.number, ingredient.unit) %>
    <%= ingredient.name %></br>
  <% end %>

<p>Steps:</p>

<% @recipe.steps.each do |step| %>
  <p class="step-content" id="step<%= step.number %>">
   <%= step.content %>
  </p>
<% end %>

<%= link_to "Edit Recipe", edit_recipe_path %>
