<h1><%= @recipe.name %></h1>
<img class="recipe-image" src="<%= @recipe.image %>" />

<p>Cooking time:</p>
<p><%= @recipe.time %> hours</p>

<p>Ingredients: </p>

  <% @recipe.ingredients.each do |ingredient| %>
    <%= ingredient.number %>
    <%= ingredient.unit %>
    <%= ingredient.name %></br>
  <% end %>

<p>Steps:</p>

<% @recipe.steps.each do |step| %>
  <%= step.content %></br>
<% end %>
