<script type="text/javascript" src="https://rawgithub.com/hiddentao/google-tts/master/google-tts.min.js"></script>

  <div class="recipe-image-container">
    <%= image_tag(@recipe.image) %>

      <div class="image-container-text">
        <h2><%= @recipe.name %></h2>
        <p><%= @recipe.description %></p>
        <p>Cooking time: <%= @recipe.time %> hours</p>
      </div>
  </div>


  <div class="right-pane">

      <div class="fixed-buttons">

      <button class="read"> Read it! </button>
      
      <div class="step-buttons">
        <button class="prev-step"> &lt;&lt; Read prev step </button> 
        <button class="next-step"> Read next step &gt;&gt; </button>
      </div>

      <div id="speaker"></div>
    </div>

    <div class="recipe">

      <div class="ingredients">

        <p>Ingredients: </p>

        <% @recipe.ingredients.each do |ingredient| %>
          <%= pluralize(ingredient.number, ingredient.unit) %>
          <%= ingredient.name %></br>
        <% end %></br>
      </div>


    <div class="steps">

      <p>Directions:</p></br>
      <% @recipe.steps.each do |step| %>
        <p class="step-content" id="step<%= step.position %>" >
          <%= step.content %>
        </p>
      <% end %>

    </div>

      <%= link_to "Edit Recipe", edit_recipe_path %>
  </div>


