<h2> Edit your profile </h2>

<%= form_for @user, :multipart => true do |f| %>
  
  
  <div class="field">
  <%= f.label :first_name %> 
  <%= f.text_field :first_name %><br/>
  </div>

  <div class="field">
  <%= f.label :last_name %> 
  <%= f.text_field :last_name  %><br/>
  </div>

  <div class="field">
  <%= f.label :avatar %> 
  <%= f.file_field :avatar %><br/>
  </div>
  
   <div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %><br/>
  </div> 

  <div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %><br/>
  </div>

  <div class="field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br/>
  </div>

  <div class="action">
  <%= f.submit %>
  </div>
  
<% end %>

