<!DOCTYPE html>
<html>
<head>
  <title>Souschef</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="nav">
  <% if current_user %>
    <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
    <%= link_to "Logout", :logout, method: :post %>
  <% else %>
    <%= link_to "Sign up", new_user_path %> |
    <%= link_to "Login", :login %>
  <% end %>
</div>

<div class="flash-container">
  <% if flash[:alert] %>
    <p id="alert"> 
      <%=flash[:alert]%> 
    </p>
  <% end %>

  <% if flash[:notice] %>
    <p id="notice"> 
      <%=flash[:notice]%>
    </p>
  <% end %>
</div>

<%= yield %>

</body>
</html>
