<!DOCTYPE html>
<html>
<head>
  <title>Souschef</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Pacifico|Raleway|Roboto:500,300,300italic' rel='stylesheet' type='text/css'>
</head>
<body>

<nav>
  <ul>
    <li class="logo"> <%= link_to "souschef", root_url %> </li>
  </ul> 
</nav>

<div class="app-container">
    

  <div class="flash-container">
    <% if flash[:alert] %>
      <p id="alert"> 
        <%=flash[:alert]%> 
      </p>
    <% end %>

    <% if flash[:notice] %>
      <p id="notice"> 
        <%=flash[:notice]%>
      </p>
    <% end %>
  </div>

  <%= yield %>

  <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Sign up", new_user_path %> |
      <%= link_to "Login", :login %>
    <% end %>
</div>

</body>
</html>
