<!DOCTYPE html>
<html>
<head>
  <title>Souschef</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Pacifico|Raleway|Roboto:500,300,300italic' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav>
      <div class="logo"> <%= link_to "souschef", root_url %> </div>

      <div class="side-menu">
        
          <div id="nav-toggle">
          <a href=#>
            <div class="ham-layer" id="1"></div>
            <div class="ham-layer" id="2"></div>
            <div class="ham-layer" id="3"></div>
          </a>
          </div>
          
          <ul class="links">
            <% if current_user %>

             <li class="link"> <%= link_to "Logout", :logout, method: :post %> </li>
             <li class="link"> <%= link_to "Edit Profile", edit_user_path(current_user.id) %> </li>
             <li class="link"> <%= link_to "+ Add Recipe", new_recipe_path %> </li>
            <% else %>
              <li class="link"> <%= link_to "Sign up", new_user_path %> </li>
              <li class="link"> <%= link_to "Login", :login %> </li>
            <% end %>
          </ul>
      </div>
    
  </nav>
  
  <div class="flash-container">
    <% if flash[:alert] %>
      <p id="alert">
        <%=flash[:alert]%>
      </p>
    <% end %>

    <% if flash[:notice] %>
      <p id="notice">
        <%=flash[:notice]%>
      </p>
    <% end %>
  </div>

<div class="app-container">
  <%= yield %>
</div>

  

</body>
</html>
